# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Objectives:
+ Common Librearies for DS
+ Arithmetic expressions
+ Create a code cell to multiply and add numbers
+ Create a markdown cell with a table of Data Science tools

Some of the commonly used libraries used by Data Scientists include:

    * Numpy
    * Matplotlib
    * Pandas

|Data Science Tools|
-----
|Excel|
|Tableau|
|Apache spark|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
14+8

22

In [6]:
3^12

15

In [8]:
7/4

1.75

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
minutesperhour=60
hours= minutes/minutesperhour
print(hours)

3.3333333333333335

## Author
Mathias D